@model ReporteTransaccionesDetalladas

@{
    var resumenMontos = new ResumenMontosViewModel()
            {
                Ingresos = Model.BalanceDepositos,
                Gastos = Model.BalanceRetiros,
                Total = Model.Total
            };
}


<partial name="_NavegarPorMeses" model="Model.FechaInicio" />

<partial name="_ResumenMontos" model="@resumenMontos" />

@if (Model.TransaccionesAgrupadas.Count() == 0)
{
    <h5 class="text-center">No hay transacciones para mostrar</h5>
}
else
{
    <table class="table">
        <tbody>
            @foreach (var transaccionesAgrupada in Model.TransaccionesAgrupadas)
            {
                <tr style="background-color: lightblue; font-size: 26px;">
                    <td colspan="3">
                        @transaccionesAgrupada.FechaTransaccion.Day
                        <sapan class="badge bg-secondary">
                            @transaccionesAgrupada.FechaTransaccion.ToString("ddd")
                        </sapan>
                    </td>
                    <td class="activo">@transaccionesAgrupada.BalanceDepositos.ToString("N")</td>
                    <td class="pasivo">@transaccionesAgrupada.BalanceRetiros.ToString("N")</td>
                </tr>
                @foreach (var transaccion in transaccionesAgrupada.Transacciones)
                {
                    <tr style="vertical-align: middle;">
                        <td>
                            <a asp-controller="Transacciones"
                               asp-action="Editar"
                               asp-route-id="@transaccion.Id"
                               asp-route-urlRetorno="@ViewBag.urlRetorno">
                                <i class="bi-pencil"></i>
                            </a>
                        </td>
                        <td>@transaccion.Categoria</td>
                        <td>@transaccion.Cuenta</td>
                        <td class="activo">
                            @(transaccion.TipoOperacionId == TipoOperacion.Ingreso
                                ? transaccion.Monto.ToString("N")
                                : null
                                )
                        </td>
                        <td class="pasivo">
                            @(transaccion.TipoOperacionId == TipoOperacion.Gasto
                                ? transaccion.Monto.ToString("N")
                                : null
                                )
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
}